.weather-app {
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 30px auto;
  max-width: 800px;
}

.container-extra-style:hover {
  background-image: linear-gradient(to top, #f8f8f8 0%, #ecf8ff 100%);
}

.container {
  max-width: 800px;
  justify-content: space-between;
  align-items: middle;
  text-align: left;
  justify-content: flex-start;
  padding: 10px 5px;
}

h1 {
  color: #5ac3db;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #878787;
  font-size: 50px;
  line-height: 30px;
  margin: 20px auto;
}

p {
  color: #878787;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  line-height: 20px;
}

.form-control {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
  vertical-align: middle;
}
.main-icon {
  padding: -40px;
}

.highlight-color {
  color: rgb(243, 223, 41);
}

.description {
  font-size: 20px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -23px;
}

small {
  text-align: center;
  margin: -20px auto;
}
